<section id="galeriac">
    <div class="containerc">
        <h2>Galeria de Agus Celli</h2>
        <div class="menuc">
            <div class="cartac">
                <h3></h3>
                <p id="cartasc"> <br><br><br><br></p>
                <a href="https://www.youtube.com/watch?v=md_W3OAMIGA" target="_blank">
                    <button>+ Link</button>
                </a>
            </div>
            <div class="cartac">
                <h3></h3>
                <p id="cartasc"> <br><br><br><br></p>
                <a href="https://www.youtube.com/watch?v=wc79HQX2yV0" target="_blank">
                    <button>+ Link</button>
                </a>
            </div>
            <div class="cartac">
                <h3></h3>
                <p id="cartasc"> <br><br><br><br></p>
                <a href="https://www.youtube.com/watch?v=ouCbtdJIvqg" target="_blank">
                    <button>+ Link</button>
                </a>
            </div>
             <div class="cartac">
                <h3></h3>
                <p id="cartasc"> <br><br><br><br></p>
                <a href="https://www.youtube.com/watch?v=zWrztSRKxxg" target="_blank">
                    <button>+ Link</button>
                </a>
            </div>
        </div>
    </div>
</section>
