<section id="galeria1">
    <div class="container1">
        <h2>Galeria de Kyez</h2>
        <div class="menu1">
            <div class="carta1">
                <h3></h3>
                <p id="gcartas"> <br><br><br><br></p>
                <a href="https://www.youtube.com/watch?v=u4BQPlQBv8g" target="_blank">
                    <button>+ Link</button>
                </a>
            </div>
            <div class="carta1">
                <h3></h3>
                <p id="gcartas"> <br><br><br><br></p>
                <a href="https://www.youtube.com/watch?v=8gStAMg-Xqk" target="_blank">
                    <button>+ Link</button>
                </a>
            </div>
            <div class="carta1">
                <h3></h3>
                <p id="gcartas"> <br><br><br><br></p>
                <a href="https://www.youtube.com/watch?v=9qDnsY9WfFs" target="_blank">
                    <button>+ Link</button>
                </a>
            </div>
             <div class="carta1">
                <h3></h3>
                <p id="gcartas"> <br><br><br><br></p>
                <a href="https://www.youtube.com/watch?v=CdCwWLUO7LE" target="_blank">
                    <button>+ Link</button>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="galeria2">
    <div class="container2">
        <div class="menu2">
            <div class="carta2">
                <h3></h3>
                <p id="gcartas2"> <br><br><br><br></p>
                <a href="https://www.youtube.com/watch?v=-wmuYDqearI" target="_blank">
                    <button>+ Link</button>
                </a>
            </div>
            <div class="carta2">
                <h3></h3>
                <p id="gcartas2"> <br><br><br><br></p>
                <a href="https://www.youtube.com/watch?v=EDMK7y1arp0" target="_blank">
                    <button>+ Link</button>
                </a>
            </div>
            <div class="carta2">
                <h3></h3>
                <p id="gcartas2"> <br><br><br><br></p>
                <a href="https://www.youtube.com/watch?v=Cnn8qDM3BOs" target="_blank">
                    <button>+ Link</button>
                </a>
            </div>
             <div class="carta2">
                <h3></h3>
                <p id="gcartas2"> <br><br><br><br></p>
                <a href="https://www.youtube.com/watch?v=wc79HQX2yV0" target="_blank">
                    <button>+ Link</button>
                </a>
            </div>
        </div>
    </div>
</section>