<!DOCTYPE html>
<html lang="en">

<head>
    <title>ABITACK</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    
    
</head>

<body>
    <header id="main-header">
        <div class="container">
            <a href="/#hero" class="logo">ABITACK</a>
            <nav>
            
            </nav>
        </div>
    </header>


    {{{body}}}

    <footer>
        <div class="container">
            <div class="social-icons">
                <a href="https://github.com/DamianMatos" target="_blank"><img
                        src="/images/github-logo-2E3852456C-seeklogo.com.png" alt="Github"></a>
                <a href="https://www.youtube.com/channel/UCN0U1RpwZhEnxa_kyi8r0zA" target="_blank"><img
                        src="/images/Youtube_logo.png" alt="Youtube"></a>
                <a href="https://www.instagram.com/kyezmusic/" target="_blank"><img src="/images/Instagram_icon.png"
                        alt="Instagram"></a>
                <a href="https://twitter.com/AbiTrack21" target="_blank"><img src="/images/twitter logo.png"
                        alt="Twitter"></a>
            </div>
            <div class="copyright">
                &copy; 2023 Abitack. Todos los derechos reservados.
            </div>
        </div>
    </footer>

</body>